<!DOCTYPE html>
<html lang="en">
<head>
    <title>DevWiki - Editor</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script async src="/assets/lib/htmx/htmx-1.9.4.min.js"></script>
    <link rel="stylesheet" href="{{ GetThemeCss }}">
</head>
<body class="primary-layout bg-background text-glyph w-screen h-screen flex flex-col">
    <div class="flex-grow w-100 grid">
        {{ template "layout/leftnav" }}

        <div>
            {{ template "content" }}
        </div>
    </div>
</body>
</html>