<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ .Title }}</title>

    <script src="/assets/js/htmx.js"></script>
</head>
<body>
    <h1>HTMX + Angular</h1>
    <h2>match made in heaven</h2>

    <button hx-post="/editor/btn" hx-target="#editors" hx-swap="afterbegin">
        Load Editor
    </button>

    <div id="editors">

    </div>
</body>

<!-- Load the editor component -->
<!-- async has no effect because the script isn't external -->
{{ range getEditorComponentScripts }}
    <script src="{{ . }}"></script>
{{ end }}
{{ range getEditorComponentStyles }}
    <link rel="stylesheet" href="{{ . }}">
{{ end }}

</html>